body{
    background-color: white;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
}

/* .gamebox{
    background-color: blue;
    width: 80%;
    height: 500px;
    margin: 0 auto;
} */
.start{
    width: 20%;
    background-color: aquamarine ;
    justify-items: center;
    font-size: 100%;
}

canvas { 
    /* padding: 5% 5%; */
    width:600px;
    height: 400px;
    margin: 0 auto;
    padding:0 auto;
    justify-items: center;
    background: #eee;
border-top: solid 5px black;
border-left: solid 5px black;
border-right: solid 5px black;
}